* {
    font-family: 'PT Sans Narrow', 'sans-serif';
}

.header-row {
    margin-top: 1.5em;
    height: 100%;
}

.projects-row {
    padding: 2em;
}

.links-row {
    margin-top: 2.5em;
}

.teal-line {
    /*border-color: #add;*/
    border-color: #30C0B0;
    width: 80%;
}

.thin {
    font-weight: 300;
}

.img-circleborder {
    border: solid 12px #30C0B0;
}

.headshot {
    max-width: 225px;
    height: auto;
    width: 100%;
}

#bio {
    padding: 1em 2em;
}

@media only screen and (min-width: 1280px) {
    #social-links {
        padding: 1em;
        right: 1.5em;
    }
}

.social-link {
    border: 2px solid #30C0B0;
    border-radius: 50%;
}

.teal-jumbo {
    background-color: #add;
    border-radius: 6px;
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    .teal-jumbo {
        padding-left: 0px !important;
        padding-right: 15px !important;
    }
}

.social-row {
    margin-top: 2.5em;
}

.teal-social {
    border-radius: 50%;
    background-color: #add;
}

.footer {
    background: #add;
    color: black;
    margin-bottom: 1.5em;
}

.portfolio-item a img {
    margin: auto;
}

.portfolio-item h4 {
    margin-bottom: 25px;
}

ul.resume-items li {
    font-size: 133%;
}
